body {
    font-family: 'Inter', system-ui, sans-serif;
}

.hover-zoom {
    transition: transform .2s ease;
}
.hover-zoom:hover {
    transform: scale(1.05);
}

.card-body {
    cursor: pointer;
    border-radius: 1rem;
}

.logo-large {
    height: 120px;
    width: auto;
}