{% extends "base.html" %}

{% block meta_extra %}
  <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<header class="dashboard-header">
  <h1>My QR Codes</h1>
</header>

<section class="dashboard-body">
  <div id="qr-list">
    <!-- JS will inject cards -->
  </div>
</section>

<script src="{{ url_for('static', filename='js/auth.js') }}?v=2025-12-02-1"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}?v=2025-12-02-1"></script>
{% endblock %}
